<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Provided by:</strong>
  <%= @deal.provided_by %>
</p>

<p>
  <strong>Picture link:</strong>
  <%= @deal.picture_link %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
